<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.github.photowey.riff.middleware.database.orm.mybatis.repository.SystemUserRepository">

    <!--
    @author photowey
    @version 1.0.0
    @since 2025/07/21
    -->

    <resultMap id="SystemUserPO"
               type="io.github.photowey.riff.middleware.database.orm.mybatis.core.domain.po.SystemUserPO">
        <id column="id" property="id"/>

        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="deleted" property="deleted"/>

        <result column="tenant" property="tenant"/>
        <result column="platform" property="platform"/>
        <result column="app" property="app"/>

        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="mobile" property="mobile"/>
        <result column="avatar" property="avatar"/>
        <result column="twofa_enabled" property="twofaEnabled"/>
        <result column="twofa_secret" property="twofaSecret"/>
        <result column="status" property="status"/>
        <result column="authentication_status" property="authenticationStatus"/>
    </resultMap>

    <!-- ****_****_****_****__****_****_****_**** -->

    <sql id="DynamicQuerySQL">
        <where>
            <if test="query.id != null">
                AND id = #{query.id}
            </if>
            <if test="query.status != null">
                AND status = #{query.status}
            </if>

            <if test="query.authenticationStatus != null">
                AND authentication_status = #{query.authenticationStatus}
            </if>

            <if test="query.username != null and query.username != ''">
                AND username LIKE CONCAT('%',#{query.username},'%')
            </if>
            <if test="query.mobile != null and query.mobile != ''">
                AND mobile LIKE CONCAT('%',#{query.mobile},'%')
            </if>

            <if test="1 == 1">
                AND deleted = 0
            </if>
        </where>
    </sql>

    <!-- ****_****_****_****__****_****_****_**** -->

    <!-- @formatter:off -->
    <select id="selectList" resultMap="SystemUserPO">
        SELECT
            id,
            create_by,
            create_time,
            deleted,
            tenant,
            platform,
            app,
            username,
            password,
            email,
            mobile,
            avatar,
            twofa_enabled,
            twofa_secret,
            status,
            authentication_status
        FROM riff_system_user
        <include refid="DynamicQuerySQL" />
    </select>
    <!-- @formatter:on -->

    <!-- @formatter:off -->
    <select id="selectPage" resultMap="SystemUserPO">
        SELECT
            id,
            create_by,
            create_time,
            deleted,
            tenant,
            platform,
            app,
            username,
            password,
            email,
            mobile,
            avatar,
            twofa_enabled,
            twofa_secret,
            status,
            authentication_status
        FROM riff_system_user
        <include refid="DynamicQuerySQL" />
    </select>
    <!-- @formatter:on -->

    <!-- ****_****_****_****__****_****_****_**** -->

    <delete id="physicalDelete">
        DELETE FROM riff_system_user WHERE id = #{id}
    </delete>

</mapper>
